<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Partners In Health</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<!--<require_version>${openMRSVersion}</require_version>-->
    <require_version>1.9.2</require_version>
	<!-- / Module Properties -->

    <require_modules>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="2.3">org.openmrs.module.idgen</require_module>
    </require_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.EmrActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
	    PaperRecordRequest.hbm.xml
        RadiologyOrder.hbm.xml
        Printer.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

    <!-- Global Properties -->
    <globalProperty>
        <property>emr.placeOrdersEncounterType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the encounter type used for placing orders (e.g. requisitioning radiology studies)
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.checkInEncounterType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the encounter type for checking in a patient
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.clinicianEncounterRole</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the encounter role that represents the primary clinician who is seeing the patient
        </description>
    </globalProperty>
    
 	<globalProperty>
        <property>emr.checkInClerkEncounterRole</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the encounter role that represents the clerk who is checking in the patient
        </description>
    </globalProperty>
    <globalProperty>
        <property>emr.testOrderType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the OrderType that represents lab tests and radiology studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.atFacilityVisitType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the VisitType that we use for newly-created visits
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.paperRecordIdentifierType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the Patient Identifier Type that represents the identifier for a patient's paper record
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.xrayOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable Xray studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.ctScanOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable CT scan studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.ultrasoundOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable ultrasound studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.primaryIdentifierType</property>
        <defaultValue>ZL EMR ID</defaultValue>
        <description>
            Primary identifier type for looking up patients, generating barcodes, etc
        </description>
    </globalProperty>

    <!-- Privileges -->
    <privilege>
        <name>Paper Records - Manage Requests</name>
        <description>Gives API-level access within the Paper Record service to fetch and assign paper rcord requests</description>
    </privilege>
    <privilege>
        <name>Paper Records - Request Records</name>
        <description>Gives API-level access within the Paper Record service to request records</description>
    </privilege>
    <privilege>
        <name>Printers - Access Printers</name>
        <description>Gives API-level access within the Printer service to fetch information about printers</description>
    </privilege>
    <privilege>
        <name>Printers - Manage Printers</name>
        <description>Gives API-level access within the Printer service to manage and update printer information</description>
    </privilege>

</module>

