/* line 3, ../../../compass/sass/consult.scss */
#entry-fields {
  display: inline-block;
  width: 58%;
  vertical-align: top;
}
/* line 8, ../../../compass/sass/consult.scss */
#entry-fields p {
  padding-bottom: 1em;
}

/* line 13, ../../../compass/sass/consult.scss */
#display-diagnoses {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

/* line 19, ../../../compass/sass/consult.scss */
#buttons {
  margin-top: 1em;
}

/* line 23, ../../../compass/sass/consult.scss */
.matched-name {
  display: block;
}

/* line 27, ../../../compass/sass/consult.scss */
.code {
  float: right;
}

/* line 31, ../../../compass/sass/consult.scss */
.ui-menu .ui-menu-item {
  border-bottom: 1px gray solid;
}
