.dataTable {
    clear: both;
    padding: 0 50px 0 50px;
    line-height: 2em;
    border-spacing: 0;
    width: 100%;
}

.dataTable td {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}

.dataTable td:first-child {
    text-align: left;
}

.dataTable td:last-child {
    width: 15%;
}
