.dataTable {
    clear: both;
    border-spacing: 0;
    width: 100%;
    border: 2px solid black;
}

.dataTable th {
    text-align: left;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

.dataTable td {
    text-align: left;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}


