@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
    font-family: 'Droid Sans';
    margin: 0px;
}

#username{
    float:left;
}

#changeLocation{
    float:left;
    position:relative;
    padding-left:25px;
}

#logout{
    float:right;
}

#sessionLocation {
    background-color: white;
    border: 2px solid #b9b299;
    padding: 5px;
    margin-bottom: 20px;
}
#sessionLocation .selected {
    background-color: #bbbbbb;
    font-weight: bold;
}

.locationOption {
    font-size: 1.0em;
    display: inline-block;
    padding: 3px 15px;
    width: 250px;
}

.locationOption:hover, .locationOption:focus {
    background-color: blue;
    color: white;
}

#application-header, #application-header a {
	color: white;
	background-color: black;
}

.shaded-box {
    border: 1px black solid;
    background-color: #d3d3d3;
}

#error-message, #info-message {
    border: 1px black solid;
    border-radius: 4px;
    font-weight: bold;
    padding: 2px 6px;
    margin: 2px;
}

#info-message {
    background-color: #ffffe0;
}

#error-message {
    background-color: #8b0000;
    color: #ffffff;
}

.field-error{
	background-color: lightpink;
}

span.field-error {
	border: 1px dashed darkred;
	padding: 1px 6px 1px 6px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}
