.patient-result {
    cursor: pointer;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px black solid;
    border-radius: 0.2em;
}

.patient-result:nth-child(even) {
    background-color: #e0e0e0;
}

.patient-result:nth-child(odd) {
    background-color: #f0f0f0;
}

.patient-result .name {
    font-weight: bold;
    font-size: 1.2em;
}