/* line 3, ../../../compass/sass/patientDashboard.scss */
.dashboard {
  display: inline-block;
  border-left: 2px solid #bbbbbb;
  padding-left: 15px;
}
/* line 8, ../../../compass/sass/patientDashboard.scss */
.dashboard.menu {
  vertical-align: top;
  width: 200px;
  border: 0;
}
/* line 13, ../../../compass/sass/patientDashboard.scss */
.dashboard.menu a {
  color: #003f5e;
  font-size: 1.2em;
}
/* line 18, ../../../compass/sass/patientDashboard.scss */
.dashboard.menu li {
  border-bottom: 2px solid #eeeeee;
  padding: 5px;
}
