/* line 4, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb {
  float: left;
  vertical-align: top;
  background: #FFF;
  width: 220px;
}
/* line 10, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li {
  border: 1px solid #eeeeee;
  border-bottom: none;
  border-right: none;
  padding: 10px;
}
/* line 16, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li ul {
  display: none;
}
/* line 20, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 23, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li:last-child {
  border-bottom: 1px solid #eeeeee;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 27, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li.done {
  color: #BBB;
}
/* line 30, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li.done .icon {
  display: none;
}
/* line 34, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li.doing {
  background: #007fff;
  color: #FFF;
}
/* line 38, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li.doing .icon-ok {
  display: none;
}
/* line 43, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li.to-do .icon-ok {
  display: none;
}
/* line 47, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li i {
  display: inline-block;
  font-size: 1em;
  border: 3px solid;
  margin: 0 10px 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}
/* line 53, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li i span {
  font-style: normal;
  font-weight: 700;
  padding: 0px 5px;
  margin-top: -3px;
}
/* line 60, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 63, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
ul#formBreadcrumb li span em {
  display: block;
  font-size: .7em;
}

/* line 71, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
#spacer {
  display: none;
}

/* line 75, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section, #confirmation {
  display: none !important;
  border-left: 3px solid #eeeeee;
  width: 730px;
  text-align: left;
  padding: 10px;
  background: #F9F9F9;
}
/* line 78, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section.focused, #confirmation.focused {
  display: inline-block !important;
}
/* line 89, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section p label, #confirmation p label {
  font-size: 1.2em;
}
/* line 94, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section fieldset, section #confirmationQuestion, #confirmation fieldset, #confirmation #confirmationQuestion {
  border: none !important;
  padding: 5px 10px !important;
}
/* line 98, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section fieldset legend, section #confirmationQuestion legend, #confirmation fieldset legend, #confirmation #confirmationQuestion legend {
  display: none;
}
/* line 102, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section fieldset select, section fieldset input, section #confirmationQuestion select, section #confirmationQuestion input, #confirmation fieldset select, #confirmation fieldset input, #confirmation #confirmationQuestion select, #confirmation #confirmationQuestion input {
  border: 2px solid #f9f9f9;
}
/* line 105, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
section fieldset select:focus, section fieldset input:focus, section #confirmationQuestion select:focus, section #confirmationQuestion input:focus, #confirmation fieldset select:focus, #confirmation fieldset input:focus, #confirmation #confirmationQuestion select:focus, #confirmation #confirmationQuestion input:focus {
  border: 2px solid #007fff;
}

/* line 113, ../../../compass/sass/retrospectiveCheckin_alt1.scss */
#mandatoryLegend {
  color: #eb6e1f;
  text-align: right;
}
